$primary-font = 'Roboto', sans-serif
$secondary-font = 'Raleway', sans-serif

// screen breakpoints
$screen-sm-min = 16em // 480px - phone
$screen-md-min = 25.6em // 768px - tablet - menu breakpoint
$screen-lg-min = 35.73em // 1072px - desktop

// colors
$main-color = #003899
$gray-dark = #003899
$light-blue = #0e74b2
$gray = #aaaaaa
$gray-light = #e6e6e6
$white = #fff
