// screen breakpoints
$screen-sm-min = 30em // 480px - phone
$screen-md-min = 48em // 768px - tablet - menu breakpoint
$screen-lg-min = 67em // 1072px - desktop

// colors
$main-color = #003899
$gray-dark = #003899
$gray = #aaaaaa
$gray-light = #e6e6e6
