.twentyseventeen-front-page
    .site-main
        > article:not( .has-post-thumbnail ):not( :first-child )
            border none

    .panel-content
        .entry-title
            color $main-color
            font-size 40px
            font-size 2.5rem
            font-weight normal
            letter-spacing 0
            text-align center
            text-transform none

        .edit-link
            text-align center

        .entry-content
            text-align center
