.home
    .site-branding
        text-align center

    .site-title
        display none

    .site-description
        clear none
        font-size 24px
        font-size 1.5rem
        font-weight 800
        letter-spacing .08em
        line-height 1.25
        margin 0
        padding 0
        text-transform: uppercase

    .wp-custom-header
        &:after
            background-image url( 'https://2017.portoalegre.wordcamp.org/files/2017/03/logotipo-2-fundo-transparente-4-e1489544725884.png' )
            background-size contain
            content ''
            height 492px
            left 50%
            margin-left -427px
            position absolute
            top 100px
            width 100%

            @media screen and ( max-height: $screen-sm-min )
                width 500px
                height 246px
                margin-left -427px
                padding-bottom 0

.has-header-image:not( .twentyseventeen-front-page ):not( .home ) .custom-header-media img
    height auto
    top -260px
