.menu-toggle
    color $white

.dropdown-toggle
    color $white

.js
    .main-navigation.toggled-on > div > ul
        background-color $main-color

.main-navigation
    ul
        ul
            background-color $main-color
            border 0

    li
        li:hover
            background-color $white
            color $main-color

    li
        li.current_page_item,
        li.current-menu-item
            a:hover
                color $main-color

.site-header
    .navigation-top
        background $main-color !important

        a,
        .menu-scroll-down
            color $white

            &:hover
              color $light-blue

        .current-menu-item > a,
        .current_page_item > a
            color $light-blue

body.has-header-image,
body.has-header-video
    .site-description
        opacity 1

.site-branding
    .wrap
        text-align center
        max-width 800px

    .site-description
        background-color #3260ad
        padding 2px

    .site-title
        background-color $main-color
        font-size 1.7rem
        padding 3px 7px

.home
    .site-branding
        text-align center

    .custom-header-media
        .wp-custom-header
            &:after
                background-image url( 'https://2017.portoalegre.wordcamp.org/files/2017/04/logo_top_home.png' )
                background-size contain
                content ''
                height 0
                left 5%
                padding-bottom 38.03% // proportional logo height in relation of width
                position fixed
                top 10px
                width 90%

                @media screen and ( min-width: $screen-sm-min )
                    height 300px
                    left 50%
                    margin-left -160px
                    top 40%
                    padding-bottom 0
                    width 300px
        &:before
            background none

    .site-branding
        position fixed !important
        z-index auto
        margin-bottom 40 !important

        .site-description
            opacity 1
            padding 2px 8px


.has-header-image:not( .twentyseventeen-front-page ):not( .home )
    .custom-header-media
        &:before
            background none

        img
            content url( 'https://2017.portoalegre.wordcamp.org/files/2017/04/mosaico-porto-alegre_azul.jpg' )
            height auto
            top -66px

.has-header-image.twentyseventeen-front-page
    .custom-header
        height 100vh

    .site-branding
        @media screen and ( max-width: $screen-sm-min )
            bottom auto
            position absolute
            top 0
            padding 54px 0

.panel-image:before
    background none
