@media screen and ( min-width: $screen-md-min )
    .navigation-top
        background $gray-light
        border none

    .main-navigation
        .menu
            text-align center
            text-transform uppercase

            a
                font-weight normal
