.page .panel-content .entry-title,
.page-title,
body.page:not( .twentyseventeen-front-page ) .entry-title
    // border-bottom 4px solid $gray
    // border-top 4px solid $gray
    color $main-color
    display inline-block
    font-size 46px
    padding 5px 0
    text-align center
    width 100%

body:not( .has-sidebar ):not( .page-one-column ) .page-header,
body.page-two-column:not( .archive ) #primary .entry-header,
body.page-two-column.archive:not( .has-sidebar ) #primary .page-header
    float none
    width 100%

.page.page-one-column .entry-header,
.twentyseventeen-front-page.page-one-column .entry-header,
.archive.page-one-column:not( .has-sidebar ) .page-header
    margin-bottom 1em
