div[ class^='wcorg-sponsor' ]
    h3
        display none

div[ class^='wcorg-sponsor-level-' ]
    h2
        color $main-color
        font-size 40px
        margin 120px 0 50px
        padding 10px 0
        text-transform uppercase
        text-align center

.wcorg-sponsors
    img
        display block
        margin 0 auto
        max-height 250px
        width auto
