div[ class^='wcorg-sponsor' ]
    h3
        display none

div[ class^='wcorg-sponsor-level-' ]
    h2
        border-bottom 2px solid
        border-top 2px solid
        font-size 40px
        margin 120px 0 50px
        padding 10px 0
        text-transform uppercase
        text-align center