.wcb_widget_sponsors
	.sponsor-logo 
		-webkit-box-shadow none !important
		-moz-box-shadow none !important
		box-shadow none !important
		float left
		padding 0 !important
		
		img
			max-height 80px
			border 8px solid $sponsor-border
			-webkit-box-shadow none !important
			-moz-box-shadow none !important
			box-shadow none !important

		img:nth-child(1)
			border-right 0

		img:last-child
			border 8px solid $sponsor-border