div.sponsor-level
    a.sponsor-logo
        box-shadow none
        float left

        .attachment-wcb-sponsor-logo-horizontal-2x
            border-bottom 4px solid $sponsor-border
            border-left 4px solid $sponsor-border
            border-top 4px solid $sponsor-border
            box-shadow none
            max-height 80px

    a.sponsor-logo:last-child
        .attachment-wcb-sponsor-logo-horizontal-2x
            border-right 4px solid $sponsor-border
    a.sponsor-logo:hover
        box-shadow none